
hardware/microcontroiller-backups/microcontroiller-2022-03-07_164625.zip
hardware/microcontroiller.kicad_prl
hardware/_autosave-microcontroiller.sch
hardware/_autosave-mallard.kicad_pcb
hardware/_autosave-mallard.kicad_pcb
hardware/_autosave-microcontroiller.sch
